/* 
font-family: 'Lato', sans-serif;
font-family: 'Sacramento', cursive;

colors:
#D6D5A8
#816797
#51557E
#1B2430

 */

 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Sacramento&display=swap');

 * {
    padding: 0;
 }

html {
    font-size: 62.5%;
    
}

body {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    background-color: #1B2430;
    color: #D6D5A8;

    margin: 0;
}

h1 {
    font-size: 7.5rem;
}
h3  {
    font-size: 2.25rem;
}



/* Header Section */

.heading {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 9rem 15rem;
    padding: 1.135rem 1.5rem; 

    position: relative;
    
}

/* .header {
    width: 50%; 
} 
*/

.header__para {
    font-size: 1.875rem;
    font-weight: 300;
    line-height: 1.5;

    padding-bottom: 1.5rem;
    padding-right: 4rem;

    width: 56.25rem;
}

.header__img {
    width: 80%;
    border-radius: 50%;
    /* padding: 5rem; */

    border: 1rem solid #816797;

    box-shadow: 0 .5rem 2rem #d6d5a82f;
}

.h1__cursive {
    font-family: "Sacramento", cursive;
    line-height: .3;
}

.h1__highlight {
    color: #816797;

}


.btn {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;

    padding: 1.125rem 3rem;

    color: #D6D5A8;
    background-image: linear-gradient(to right , #816797, #51557E);
    border-radius: .75rem;

    transition: all .3s;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.ball {
    position: absolute;
    border-radius: 50%;

}

.ball__1 {
    background-image: linear-gradient(to right bottom , #b790da, #51557E);
    top: -13.5rem;
    left: -20.25rem;
    height: 15rem;
    width: 15rem;
}

.ball__2 {
    background-image: linear-gradient(to right bottom , #9887af, #4D4C7D);
    height: 12rem;
    width: 12rem;
    bottom: -5.25rem;
    right: -9.75rem;
    z-index: -1;
}
.ball__3 {
    background-image: linear-gradient(to right bottom , #a28ebd, #545480);
    height: 3.75rem;
    width: 3.75rem;
    /* bottom: 0;
    right: -5rem; */
    top: -2.5rem;
    left: 45%;
    z-index: -1;
}

/* Dream Section */

.dream__section {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 20rem 15rem 20rem;
    padding: 1.135rem 1.5rem; 

    position: relative;
}

.dream__img {
    width: 80%;
    border-radius: 50%;
    /* padding: 5rem; */

    border: 1rem solid #816797;

    box-shadow: 0 .5rem 2rem #d6d5a82f;
}



.dream__h1 {
    font-size: 6rem;
    font-weight: 400;

    color: #b790da;

    margin: 1rem 0;
}

.dream__h2 {
    font-size: 2rem;
}

.dream__para {
    font-size: 1.875rem;
    font-weight: 300;
    line-height: 1.5;

    padding-bottom: 1.5rem;
    /* padding-right: 4rem; */

    width: 56.25rem;
    text-align: justify;
}

.ball__4 {
    background-image: linear-gradient(to right bottom , #b790da, #51557E);
    bottom: -1rem;
    left: -2rem;
    height: 15rem;
    width: 15rem;
    z-index: -1;
}

.ball__5 {
    background-image: linear-gradient(to right bottom , #b790da, #51557E);
    bottom: 31rem;
    left: 31rem;
    height: 8rem;
    width: 8rem;
    z-index: 2;

    box-shadow: 0 .5rem 2rem #4d4c7daf;
}

/* Experience Section */
.experience {
    margin: 10rem 15rem 10rem;
    padding: 1.135rem 1.5rem; 

    position: relative;
    z-index: 100;
}

.experience__h1 {
    font-size: 6rem;
    font-weight: 400;

    margin: 1rem 0;
    padding-bottom: 2rem;
}

.experience__list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.experience__list--1 {
    height: 35rem;
    margin: 1rem 4rem 1rem 0;
    padding: 2rem;
    border-left: 1rem solid #9ADCFF;

    box-shadow: 0 1rem 4rem #a28ebd49;

    border-radius: 10px;

    background-color: #354259ab;
}
.experience__list--2 {
    height: 35rem;
    margin: 1rem 0 1rem 0;
    padding: 2rem;
    border-left: 1rem solid #FFB2A6;

    box-shadow: 0 1rem 4rem #a28ebd49;

    border-radius: 10px;

    background-color: #354259ab;
}

.experience__h1--1 {
    font-size: 4rem;
}

.experience__h3 {
    font-size: 2rem;
    color: #b790da;
}

.experience__para {
    font-size: 1.875rem;
    font-weight: 300;
    line-height: 1.5;

    padding-bottom: 1.5rem;
    /* padding: 4rem; */
}

.ball__6 {
    background-image: linear-gradient(to bottom , #cea5f1, #444a85);
    top: -5rem;
    left: -32rem;
    height: 25rem;
    width: 25rem;
    z-index: -1;
}

.ball__7 {
    background-image: linear-gradient(to right bottom , #9887af, #4D4C7D);
    height: 20rem;
    width: 20rem;
    bottom: -5rem;
    right: -6rem;
    z-index: -1;
}

.ball__8 {
    background-image: linear-gradient(to right bottom , #a28ebd, #545480);
    height: 3.75rem;
    width: 3.75rem;
    
    top: 0;
    right: 30%;
    z-index: -1;
} 

/* Footer */

footer {
    background-color: #35425948;
}

.footer__para {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    margin: 10rem 15rem 0;
    padding: 2rem 0; 
}

hr {
    width: 25rem;
    height: .3rem;
    background-color: #cea5f175;
    border: none;

    border-radius: 100px;
}